/*GLOBAL*/
* {
    font-family: Arial, Helvetica, sans-serif;
}
/*INDEX*/
.header-img{
    height: auto;
    width: 70px;
    display: inline-block;
}
header {
    text-align: center;
}
h2.index-h2 {
    font-size: 20px;
    font-weight: 400;
}
li a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.8);
    font-size: 18px;
}
li {
    margin: 10px;
}
/*RECIPES*/
h1 {
    text-align: center;
}
h2 {
    font-size: 24px;
    font-weight: 500;
}
p {
    font-size: 16px;
}
